<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book <%=@books[:id]%></title>
  </head>
  <body>
    <h1><%=@books[:title]%></h1>
    <p><%=@books[:desc]%></p>
  </body>
</html>
